.feedback-anket {
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
}

.feedback-anket h3 {
    display: block;
    margin: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0A51A0;
}

.feedback-anket h4 {
    margin: 0px;
    margin-top: 15px;
}

.about,
.question {
    margin: 10px;
    padding: 5px 10px;
    border: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.feedback-anket label {
    position: relative;
    cursor: pointer;
    display: block;
    min-height: 30px;
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
    background-color: rgba(00, 00, 00, 0.05);
}

.input-box {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -13px;
}

.feedback-anket input,
.feedback-anket select,
.feedback-anket textarea {
    display: block;
    font: inherit;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 5px;
    border: 1px solid #0A51A0;
}

.feedback-anket input[type="submit"] {
    width: 200px;
    margin: 10px auto;
}

.feedback-anket textarea {
    resize: vertical;
}

.textarea-container {
    display: block;
    margin-top: 5px;
}

.about input,
.about select {
    display: inline-block;
}

.input-box {
    display: inline-block;
    width: 200px;
}

.q-label {
    display: inline-block;
    width: 200px;
}

.checkbox-container {
    position: relative;
}

.checkbox-question {
    display: inline-block;
    margin-left: 35px;
    padding-top: 5px;
}

.checkbox-box {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -15px;
    width: 30px;
    height: 30px; 
}

.feedback-anket input[type="checkbox"] {
    position: absolute;
    height: 0px;
    width: 0px;
    opacity: 0;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
}

/* .feedback-anket input[type="checkbox"]:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border: 3px solid #0A51A0;
    cursor: pointer;
}

.feedback-anket input[type="checkbox"]:checked:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    height: 10px;
    width: 6px;
    border: 3px solid #0A51A0;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    cursor: pointer;
} */

.radio-container {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -13px;
    width: 26px;
    height: 26px;
}

.feedback-anket input[type="radio"] {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    margin-top: -13px;
    margin-left: -13px;
    width: 0px;
    height: 0px;
    opacity: 0;
}

/* .feedback-anket input[type="radio"]:before {
    content: "";
    position: absolute;
    height: 19px;
    width: 19px;
    border: 3px solid #0A51A0;
    border-radius: 50%;
    cursor: pointer;
}

.feedback-anket input[type="radio"]:hover:before,
.feedback-anket input[type="checkbox"]:hover:before {
    background-color: rgba(0, 0, 0, 0.3);
}

.feedback-anket input[type="radio"]:checked:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #0A51A0;
    cursor: pointer;
} */

.radio-row {
    position: relative;
    min-height: 30px;
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}

.radio-row-question {
    display: inline-block;
    margin-right: 200px;
}

.radio-row-answer {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -15px;
    display: inline-block;
    font-weight: bold;
}

.radio-group {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.radio-group-head {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.3em;
}

label.radio-label {
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: inherit;
}

.pseudo-input-checkbox::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border: 3px solid #0A51A0;
    cursor: pointer;
}

.feedback-anket input:checked ~.pseudo-input-checkbox::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    height: 10px;
    width: 6px;
    border: 3px solid #0A51A0;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    cursor: pointer;
}

.pseudo-input-radio::before {
    content: "";
    position: absolute;
    height: 19px;
    width: 19px;
    border: 3px solid #0A51A0;
    border-radius: 50%;
    cursor: pointer;
}

.feedback-anket input:checked ~.pseudo-input-radio::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #0A51A0;
    cursor: pointer;
}

.feedback-anket label:hover .pseudo-input-radio:before,
.feedback-anket label:hover .pseudo-input-checkbox:before {
    background-color: rgba(0, 0, 0, 0.3);
}