.feedback-anket {
    width: 100%;
}

.about,
.question {

}

.feedback-anket label {
    position: relative;
    cursor: pointer;
    display: block;
    min-height: 30px;
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
    background-color: rgba(00, 00, 00, 0.1);
}

.feedback-anket label:hover {
    background-color: rgba(00, 00, 00, 0.3);
}

.feedback-anket input, select, textarea {
    display: block;
    font: inherit;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
}

.feedback-anket textarea {
    resize: vertical;
}

.textarea-container {
    display: block;
}

.textarea-container-radio {
    margin-top: 5px;
}

.about input, select {
    display: inline-block;
}

.input-box {
    display: inline-block;
    width: 200px;
}

.q-label {
    display: inline-block;
    width: 200px;
    /* min-width: 300px; */
}

.checkbox-container {
    position: relative;
}

.checkbox-question {
    display: inline-block;
    margin-left: 30px;
    padding-top: 5px;
}

.checkbox-box {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -15px;
    width: 30px;
    height: 30px; 
}

.feedback-anket input[type="checkbox"] {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
}

.feedback-anket input[type="checkbox"]::before {
    content: "";
    position: absolute;
    /* top: 50%;
    margin-top: -15px; */
    height: 20px;
    width: 20px;
    border: 3px solid black;
    cursor: pointer;
}

.feedback-anket input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    /* margin-top: 0px; */
    height: 10px;
    width: 6px;
    border: 3px solid black;
    border-width: 0 3px 3px 0;
    /* background-color: black; */
    transform: rotate(45deg);
    cursor: pointer;
}

.radio-container {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -13px;
    width: 26px;
    height: 26px;
}

.feedback-anket input[type="radio"] {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    margin-top: -13px;
    margin-left: -13px;
    width: 0px;
    height: 0px;
}

.feedback-anket input[type="radio"]::before {
    content: "";
    position: absolute;
    height: 19px;
    width: 19px;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.feedback-anket input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.radio-row {
    position: relative;
    min-height: 30px;
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.radio-row-question {
    display: inline-block;
    margin-right: 200px;
}

.radio-row-answer {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -15px;
    display: inline-block;
    /* float: right; */
}

.radio-group {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.radio-group:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.radio-group-head {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.3em;
}