body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visualy-hidden {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 0px;
  height: 0px;
  opacity: 0;
}

a {
  text-decoration: none;
}


.menu-item {
  display: inline-block;
}

.center-container {
  width: 940px;
  margin: 0px auto;
  padding: 0px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0px;
}

.main-button {
  display: inline-block;
  padding: 12px 24px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.main-button:hover, .main-button:focus {
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

.main-header {
  padding-bottom: 65px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #f4f7f9;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header-top-menu {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.logo {
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0px 5px #b52933;
}

.header-logo {
  float: left;
  padding: 10px 55px;
  font-size: 24px;
  line-height: 24px;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.header-search {
  position: relative;
}

.header-search-icon {
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -8px;
  fill: #ffffff;
  fill-opacity: 0.3;
}

.header-search-input {
  box-sizing: border-box;
  margin: 0px;
  min-width: 270px;
  min-height: 44px;
  padding: 10px;
  padding-left: 49px;
  padding-bottom: 12px;
  background-color: #293449;
  border: none;
  color: #ffffff;
}

.header-search-input:hover {
  background-color: #212a3a;
}

.header-search-input:hover ~ .header-search-icon {
  fill-opacity: 1;
}

.header-search-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-search-input:focus ~ .header-search-icon {
  fill: #ef4350;
  fill-opacity: 1;
}

.header-shop-nav {
  float: right;
  font-size: 0px;
}

.header-shop-nav-link {
  display: block;
  padding: 12px 20px;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  background-color: #293449;
}

.header-shop-nav-link-wicon {
  padding-left: 44px;
  padding-right: 30px;
}

.header-shop-nav-link.bookmarks {
  background: url("../img/icon-bookmark-opac.svg") no-repeat;
  background-position: 17px 50%;
}

.header-shop-nav-link.cart {
  background: url("../img/icon-cart-opac.svg") no-repeat;
  background-position: 17px 50%;
}

.header-shop-nav-link.bookmarks:hover,
.header-shop-nav-link.bookmarks:focus {
  background: url("../img/icon-bookmark.svg") no-repeat;
  background-position: 17px 50%;
  background-color: #212a3a;
}

.header-shop-nav-link.cart:hover,
.header-shop-nav-link.cart:focus {
  background: url("../img/icon-cart.svg") no-repeat;
  background-position: 17px 50%;
  background-color: #212a3a;
}

.header-shop-nav-link:active {
  opacity: 0.3;
}

.header-shop-nav-link.order {
  background-color: #63a63e;
}

.header-shop-nav-link.order:hover,
.header-shop-nav-link.order:focus {
  background-color: #5fbb2d;
}

.header-shop-nav-link.order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.header-content {
  padding-top: 50px;
  padding-bottom: 45px;
}

.header-about-us {
  float: left;
  width: 194px;
  padding-left: 54px;
  padding-right: 52px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.header-contacts {
  float: left;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-contacts-tel-number {
  display: block;
  padding: 10px 50px 10px 40px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
}

.lk-notlog {
  float: right;
  width: 300px;
  text-align: right;
}

.lk-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin-left: 10px;
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  background-color: #ffffff;
  border: none;
}

.lk-button:hover {
  color: #ee3643;
}

.lk-button:hover path,
.lk-button:hover polygon {
  fill: #32425c;
}

.lk-button:active > .lk-button-text {
  color: #000000;
  opacity: 0.3;
}

.lk-button:active path,
.lk-button:active polygon {
  fill: #c5c5c5;
}

.lk-login-button {
  padding-left: 45px;
}

.lk-login-button-icon {
  display: block;
  width: 20px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 14px;
  margin-top: -8px;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: 0px 5px #293449;
}

.main-navigation-list {
  font-size: 0px;
}

.main-navigation-link,
.features {
  color: #ffffff;
}

.main-navigation-link {
  margin: 0px;
  display: block;
  padding: 20px 30px 18px;
  font-size: 17px;
  line-height: 17px;
}

.main-navigation-item:first-child .main-navigation-link {
  padding-left: 56px;
}

.main-navigation-item:last-child .main-navigation-link {
  padding-right: 56px;
}

.main-navigation-link:hover {
  background-color: #293449;
  box-shadow: 0px 5px #293449;
}

.main-navigation-link:active {
  background-color: #1d2739;
  box-shadow: 0px 5px #1d2739;
  color: rgba(255, 255, 255, 0.5)
}

.features-list ul {
  list-style: none;
}

.features {
  margin-top: 60px;
  margin-bottom: 53px;
}

.features-item {
  /* display: inline-block; */
  float: left;
  width: 137px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 18px 140px 18px 23px;
}

.features-name {
  font-size: 24px;
  line-height: 30px;
  display: block;
  margin: 0px;
}

.features-item-description {
  display: block;
  width: 111px;
  padding: 12px;
  margin-top: 15px;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.features-item-description:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-item-description:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-item-materials {
  background: url("../img/icon-1.svg") no-repeat;
  background-position: 85% 50%;
}

.features-item-tool {
  background: url("../img/icon-2.svg") no-repeat;
  background-position: 85% 50%;
}

.features-item-tech {
  background: url("../img/icon-3.svg") no-repeat;
  background-position: 85% 50%;
}

.features-item-sale {
  background: url("../img/icon-4.svg") no-repeat;
  background-position: 85% 50%;
}

.features-item-delivery {
  background: url("../img/icon-5.svg") no-repeat;
  background-position: 85% 50%;
}

.features-slider {
  display: block;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 620px;
  height: 266px;
  background: #32425c;
}



.features-slider-item {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}

.features-slider-item.active {
  display: block;
}

.features-slider-button-back,
.features-slider-button-forward {
  width: 30px;
  height: 30px;
  background: transparent;
  border: #ffffff solid 3px;
  border-top: transparent;
  border-right: transparent;
  cursor: pointer;
}

.features-slider-button-back {
  position: absolute;
  top: 115px;
  left: 25px;
  transform: rotate(45deg);
}

.features-slider-button-forward {
  position: absolute;
  top: 115px;
  right: 25px;
  transform: rotate(225deg);
}

.slider-button-radio {
  position: absolute;
  bottom: 35px;
  left: 240px;
  width: 140px;
  text-align: center;
}

.features-slider-button-item {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0px 5px;
  padding: 0px;
  border: #ffffff solid 2px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.features-slider-button-item.active {
  background-color: #ee3643;
}

.slider-desc {
  position: absolute;
  top: 25px;
  left: 25px;
}

.features-slider-name {
  padding: 0px;
  margin: 0px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.features-slider-item-description {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  line-height: 24px;
}

.features-slider-button {
  position: absolute;
  left: 25px;
  bottom: 25px;
  border-radius: 2px;
}

.features-list li:nth-child(3n) {
  margin-right: 0px;
}

.features-slider~.features-item {
  margin-right: 0px;
}

.features-list > li:nth-child(1) {
  background-color: #ffbf47;
}

.features-list > li:nth-child(2) {
  background-color: #3bbce3;
}

.features-list > li:nth-child(3) {
  background-color: #dc91d8;
}

.features-list > li:nth-child(5) {
  background-color: #8ed78f;
}

.features-list > li:nth-child(6) {
  background-color: #ffc047;
}

.shop-section-header {
  margin: 20px 0px;
  background-color: #f9f5f0;
}

.shop-section-header-h {
  float: left;
  margin: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.shop-button {
  float: right;
  display: block;
  width: 253px;
  padding: 10px;
  margin: 25px;
  text-align: center;
  border-radius: 3px;
}

.shop ul{
  list-style: none;
}

.catalog-list {
  font-size: 0px;
}

.catalog-item {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  border-style: solid;
  border-color: #eaeaea;
  border-width: 1px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.2);
}

.catalog-item:hover > .catalog-item-img {
  display: none;
}

.catalog-item:hover > .catalog-item-purchase {
  display: block;
}

.catalog-item-img {
  display: block;
  width: 218px;
  height: 170px;
}

.catalog-item-purchase {
  display: none;
  width: 134px;
  height: 80px;
  padding: 45px 42px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-button {
  width: 100%;
  margin-bottom: 7px;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  border: #63a63e solid 3px;
  border-radius: 3px;
}

.catalog-item-buy {
  padding: 7px 30px;
  box-shadow: 0px 3px #367315;
  color: #ffffff;
  background: url("../img/cart-icon-opac.svg") no-repeat;
  background-position: 12px 50%;
  background-color: #63a63e;
}

.catalog-item-buy:hover,
.catalog-item-buy:focus {
  background: url("../img/cart-icon.svg") no-repeat;
  background-position: 12px 50%;
  background-color: #5fbb2d;
  border-color: #5fbb2d;
}

.catalog-item-buy:active {
  background: url("../img/cart-icon.svg") no-repeat;
  background-position: 12px 50%;
  background-color: #518534;
  border-color: #518534;
  box-shadow: 0px 3px #518534;
}

.catalog-item-bookmark {
  background-color: transparent;
  color: #32425c;
}

.catalog-item-bookmark:hover,
.catalog-item-bookmark:focus {
  border-color: #32425c;
}

.catalog-item-bookmark:active {
  border-color: rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.catalog-item-name {
  display: block;
  width: 160px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.catalog-item-model {
  display: block;
}

.catalog-price-old {
  display: block;
  min-height: 18px;
  margin-top: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
}

.catalog-price {
  display: block;
  position: relative;
  width: 120px;
  margin-top: 9px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
}

.catalog-price::after {
  content: "";
  display: block;
  position: absolute;
  right: -38px;
  top: 0px;
  height: 0px;
  border: 19px solid transparent;
  border-left: 19px solid #ee3643;
}

.brands-list {
  font-size: 0px;
}

.brands-item {
  display: inline-block;
  width: 218px;
  min-height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #eaeaea;
  border-width: 1px;
}

.brands-item:hover,
.brands-item:focus {
  box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.2);
}

.brands-item:active {
  box-shadow: 0px 5px 10px 0px rgba(41,52,73,0.5);
  opacity: 0.3;
}

.brands-item:nth-child(4n) {
  margin-right: 0px;
}

.brands-item img {
  width: 218px;
  height: 143px;
}

.services-container {
  position: relative;
}

.services {
  margin-top: 85px;
  padding: 65px 0px 0px; 
  font-size: 13px;
  line-height: 24px;
  background-color: #f5f8fa;
}

.services h2,
.company-info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  position: absolute;
  top: 50%;
  margin-top: -91px;
  width: 240px;
  float: left;
  list-style: none;
  font-size: 21px;
  line-height: 30px;
}

.services-list::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 272px;
  right: 0px;
  top: 50%;
  margin-top: -136px;
  background: url("../img/services-shadow.png") no-repeat;
}

.services-list-item {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  background-color: #32425c;
  border-top: #4d637b solid 1px;
  border-bottom: #293449 solid 1px;
}

.services-list-item-active {
  display: block;
  padding: 16px 20px 15px;
  color: #32425c;
  border: none;
  background-color: #ffffff;
}

.services-list-item:hover:not(.services-list-item-active) {
  background-color: #293449;
}

.service-description {
  width: 250px;
  margin: 50px 80px 50px;
}

.service-delivery {
  background: url("../img/service-delivery.png") no-repeat;
  background-position: right 0px bottom 0px;
}

.service-guarantee {
  background: url("../img/service-guarantee.png") no-repeat;
  background-position: right 0px bottom 0px;
}

.service-credit {
  background: url("../img/service-credit.png") no-repeat;
  background-position: right 0px bottom 0px;
}

.service {
  display: none;
  float: right;
  width: 700px;
  min-height: 340px;
}

.service-active {
  display: block;
}

.service h3 {
  margin: 0px;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.service p {
  margin: 0px;
}

.company-info {
  font-size: 0px;
  margin-bottom: 86px;
}

.company-info p {
  margin-top: 30px;
}

.company-info-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 24px;
}

.about-us {
  width: 640px;
}

.contacts {
  width: 300px;
}

.about-us-partners-list {
  font-size: 18px;
  line-height: 20px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.about-us-partners-item {
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
}

.about-us-partners-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  margin-left: -35px;
  height: 2px;
  width: 25px;
  background-color: #ee3643;
}

.map-preview {
  margin-top: 37px;
  margin-bottom: 35px;
}

.about-us-button,
.map-button {
  border-radius: 3px;
}

.map-button {
  box-sizing: border-box;
  width: 100%;
}

.footer-top {
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-contacts {
  margin-top: 35px;
}

.footer-top a {
  color: #ffffff;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 380px;
  padding: 21px 41px;
}

.footer-shop-navigation a {
  color: #ffd180;
}

.footer-bottom {
  padding: 35px 0px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-top-left {
  width: 380px;
  float: left;
}

.footer-top-right {
  width: 560px;
  float: right;
}

.footer-site-navigation-list,
.footer-shop-navigation {
  text-align: right;
  font-size: 0px;
}

.footer-site-navigation-item,
.footer-shop-navigation-item {
  font-size: 18px;
  display: inline-block;
  margin-left: 60px;
  margin-top: 39px;
}

.footer-site-navigation-item:nth-child(1),
.footer-shop-navigation-item:nth-child(1) {
  margin-left: 0px;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  text-decoration: underline;
}

.footer-nav-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-copyright {
  width: 300px;
  float: left;
  margin: 0px;
}

.footer-social {
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
}

.footer-links {
  width: 300px;
  float: right;
}

.footer-links-feedback {
  float: left;
  width: 150px;
}

.footer-links-dev {
  float: left;
  width: 110px;
  padding: 0px 0px 0px 40px;
}

.footer-links-link {
  display: block;
}

.footer-links-link:hover,
.footer-links-link:focus {
  text-decoration: underline;
}

.footer-links-link:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social-item {
  display: inline-block;
}

.footer-social-link {
  line-height: 42px;
  display: block;
  text-align: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: #ee3643;
}

.footer-social-item img {
  max-width: 42px;
  max-height: 42px;
  vertical-align: middle;
}

.new {
  position: relative;
}

.new::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  background-image: url("../img/new.png");
}

.modal.write-us {
  position: fixed;
  top: 50%;
  margin-top: -215px;
  left: 50%;
  margin-left: -310px;
}

.modal-form-wrap {
  padding: 45px 60px 37px 80px;
  background-color: #ffffff;
}

.modal-submit-wrap {
  padding: 37px 80px;
  background-color: #f4f4f4; 
}

.modal-label {
  display: block;
  width: 460px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.modal-label.half {
  float: left;
  width: 220px;
}

.modal-label.full {
  margin-bottom: 0px;
}

.modal-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 13px;
  border: #dee3e4 solid 2px;
  border-radius: 3px;
}

.modal-input:hover {
  border-color: #b5b5b5;
}

.modal-input:focus,
.modal-input:active {
  border-color: #ee3648;
  outline: none;
}

.main-button--modal {
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
}

.modal-textarea {
  resize: none;
}

.modal-close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0px;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 2px;
  display: block;
  width: 27px;
  height: 5px;
  padding: 0px;
  margin: 0px;
  transform: rotate(45deg);
  background-color: #ee3643;
  border-radius: 2px;
}

.modal-close::after {
  transform: rotate(135deg);
}